<section id="bio">

  <h2>Hello, How are You?</h2>

  <div itemscope itemtype="http://schema.org/Person">

    <img itemprop="image" src="images/profile.jpg" alt="Duane Cilliers">

    <span itemprop="description">
      I'm <span itemprop="name">Duane Cilliers</span>. I've been working on WordPress based projects for 6+ years. In that time I've had the privelege of deploying many projects for clients in various industries. I’m an advocate of best practices, extremely detail-oriented and when I’m not working you will find me expanding my skill set, exploring new technologies or surfing. I absolutely love WordPress and I’m proud to be apart of the thriving community.
    </span>

    <span itemprop="url">duane.co.za</span> is my ditigal home, feel free to contact me by email at <a href="mailto:hello@duane.co.za"><span itemprop="email">hello@duane.co.za</span></a> or connect with me on any of the networks below.

  </div>

</section>
