<section id="bio">

  <div itemscope itemtype="http://schema.org/Person">

    <div class="valign">
      <img itemprop="image" src="images/profile.jpg" alt="Duane Cilliers">
    </div>

    <div class="info">
      <span itemprop="description">
        Howzit, I'm <span itemprop="name">Duane Cilliers</span>. I've had the privilege of engaging in co-creating and launching projects for clients in various industries. I’m a keen advocate of industry best practices with impeccable attention to detail.
      </span>

      <strong><span itemprop="url">duane.co.za</span></strong> is my digital home, feel free to connect.
      {% include social.html %}
    </div>

  </div>

</section>
