<section id="testimonial">

  <h2>{{ include.title }}</h2>

  <blockquote>
    Duane is a self-taught and extremely passionate developer. He knows Wordpress like the back of his hand, and can apply himself to any other programming language should a problem need solving! Duane understands the design process and strives to both educate and learn from the designers he works with.
    <footer>
      <img src="{{ hello@ruanbenade.co.za | to_gravatar:50 }}" />
      <cite>
        Ruan Benade <br>
        <span>Senior Digital Designer</span>
      </cite>
    </footer>
  </blockquote>

</section>
