<section id="testimonial">

  <h2>{{ include.title }}</h2>

  <div class="valign-wrapper">
    <div class="valign">
      <img src="images/profile-ruan.png" alt="Ruan Benade" class="valign">
    </div>
    <blockquote class="valign">
      <p>
        Duane is a self-taught and extremely passionate developer. He knows Wordpress like the back of his hand, and can apply himself to any other programming language should a problem need solving! Duane understands the design process and strives to both educate and learn from the designers he works with.
      </p>
      <footer>
        <cite>
          Ruan Benade <br>
          <span>Senior Digital Designer</span>
        </cite>
      </footer>
    </blockquote>
  </div>

</section>
