.social {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 $spacing-unit / 4;

    a {
      border: 2px solid #000;
      display: block;
      color: #fff;
      background-color: #000;
      padding: 0;
      -webkit-border-radius: 90%;
      border-radius: 90%;
      width: 40px;
      height: 40px;
      line-height: 35px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;

      &.fa {
        font-size: 20px;
      }

      &:hover,
      &:focus {
        color: #000;
        background-color: #fff;
      }
    }
  }

  @media screen and (min-width: $mq-tablet) {
    li a {
      width: 50px;
      height: 50px;
      line-height: 45px;
    }
  }
}

#bio {
  > div {
    @extend %valign;

    .social {
      margin-top: $spacing-unit;
    }

    @media screen and (max-width: $mq-tablet) {
      text-align: center;
      img {
        max-width: 60%;
        margin-bottom: $spacing-unit;
      }
    }

    @media screen and (min-width: $mq-tablet) {
      .info {
        width: 70%;
        padding-left: $spacing-unit;
      }
    }
  }
}

#testimonial {
  img {
    @extend %img-rounded;
    @extend %img-framed;
    border-width: 3px;
  }
  blockquote {

    a {
      color: $grey-color-darkest;
    }

    p {
      font-style: italic;
      &:before,
      &:after {
        @include fa-icon();
        color: $grey-color-darkest;
      }
      &:before {
        content: $fa-var-quote-left;
        padding-right: $spacing-unit / 3;
      }
      &:after {
        content: $fa-var-quote-right;
        padding-left: $spacing-unit / 3;
      }
    }

    footer {
      font-size: .9em;
      cite {
        font-family: $heading-font-family;
        font-style: normal;
        color: $grey-color-darkest;
      }
    }
  }

  @media screen and (max-width: $mq-tablet) {
    text-align: center;

    a {
      display: block;
    }

    img {
      margin-bottom: $spacing-unit;
      max-width: 50%;
    }
  }

  @media screen and (min-width: $mq-tablet) {

    blockquote {
      width: 83%;
      padding-left: $spacing-unit;
    }
  }
}
