/**
 * Vertical Align
 */

@media screen and (min-width: $mq-tablet) {
  %valign {
    display: table;

    > *,
    .valign {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .valign-wrapper {
    @extend %valign;
  }

}
